---
layout: ""
page_title: "Provider: AWS EKS Helper"
description: |-
  The AWS EKS Helper provider provides helper resources to interact with Amazon EKS.
---

# AWS EKS Helper Provider

The AWS EKS Helper provider provides helper resources to interact with Amazon EKS.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}