---
layout: ""
page_title: "Provider: AWS EKS Helper"
description: |-
  The AWS EKS Helper provider provides helper resources to interact with Amazon EKS.
---

# AWS EKS Helper Provider

The AWS EKS Helper provider provides helper resources to interact with Amazon EKS.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

## Authenticating

This provider uses the AWS SDK for Go, and therefore also supports the same
means for specifying credentials. More information can be found at the
[Specifying Credentials](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-credentials)
section of the AWS SDK for Go Developer Guide.

In most cases, the variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`
can be specified.

This provider requires the `DescribeInstanceTypes` IAM permission.

{{ .SchemaMarkdown | trimspace }}
